@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #777;
  background-color: #fafafa;
}

header {
  margin-bottom: 48px;
  padding: 32px 0;
  text-align: center;
  background-color: #000;
}

header > h1 {
  font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  color: #c0c;
}

x-piano + section {
  margin: 48px auto 0;
  width: 1228px;
}

fieldset {
  padding: 32px;
}

legend {
  font-size: 22px;
}

dl {
  color: #999;
}

dl dt {
  margin: 8px 0;
  font-size: 1.125rem;
}

dl dt:before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #999;
  vertical-align: -4px;
}

input,
label {
  cursor: pointer;
}

[type="checkbox"] {
  margin-right: 4px;
}

[type="radio"] {
  margin: 0 4px;
}

footer {
  margin: 48px 0 0;
  padding: 48px 0;
  color: #fafafa;
  text-align: center;
  background-color: #000;
}

small {
  font-size: 0.875rem;
}
